.dropdown-toggle {
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;

  &:hover,
  &:focus,
  &:focus:active,
  &.show {
    background-color: transparent;
    color: inherit;
  }

  &::after {
    display: none;
  }
}
