.button-more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50px;
  color: var(--grey-color-4);
  transition: var(--t-base);

  &:hover {
    background-color: var(--control-background-hover);
    color: var(--grey-color-3);
  }

  &:active {
    background-color: var(--control-background-active);
  }

  svg {
    width: 22px;
    height: 22px;
  }
}
