.button-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--grey-light-color-3);
  transition: var(--t-base);

  :global([data-theme=dark]) & {
    background-color: var(--black-color-2);
  }

  &:hover {
    background-color: var(--control-background-hover);
    color: inherit;
  }

  &:active {
    background-color: var(--control-background-active);
  }

  &.active {
    color: var(--white-color);
    background-color: var(--primary-color);
  }

  input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  &--small {
    width: 28px;
    height: 28px;
  }

  &--transparent {
    background-color: transparent;
  }

  &--grey-dark {
    :global([data-theme=dark]) & {
      color: var(--text-secondary-color);
      background-color: var(--black-color-4);
    }
  }

  &--grey {
    color: var(--text-secondary-color);
    background-color: transparent;

    &:hover {
      color: inherit;
    }

    :global([data-theme=dark]) & {
      color: var(--text-primary-color);
      background-color: transparent;

      &:hover {
        color: inherit;
      }
    }
  }

  &__icon {
    width: 22px;
    height: 22px;

    .button-icon--small & {
      width: 16px;
      height: 16px;
    }

    svg {
      vertical-align: top;
      width: 100%;
      height: 100%;
    }
  }
}
